<form name="signin">
    <div class="form-row">
      <div class="form-row__reg">
        <label class="form-row__label" for="input-email">Email *</label>
        <input class="form-row__input" name="email" id="input-email" type="email">
      </div>
      <div class="form-row__reg">
        <label class="form-row__label" for="input-email">Password *</label>
        <input class="form-row__input" name="password" id="input-password" type="password">
      </div>
      <button class="form-row__button" type="submit">Log in</button>
    </div>
</form>