
.main {

  &__info {
    display: flex;
    align-items: flex-end;
  }

  &__title {
    font-family: 'Gilroy', 'sans-serif';
    font-weight: bold;
    max-width: 280px;
    margin-top: 0;
    margin-bottom: 36px;
    margin-right: 40px;
    font-size: 47px;
    line-height: 57px;
    color: #070707;
  }

  &__text {
    font-family: 'Gilroy', 'sans-serif';
    font-weight: bold;
    max-width: 226px;
    margin-top: 0;
    margin-bottom: 44px;
    font-size: 18px;
    line-height: 21px;
    color: #070707;
  }
}

.slider {
  

  &__wrapper {
    overflow: hidden;
  }

  &__inner-wrapper {
    display: flex;
  }

  &__slide {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
  }

  &__bottom-panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 60px;  
  }

  &__button {
    width: 42px;
    height: 42px;
    cursor: pointer;
    background: transparent;
    box-sizing: border-box;
    justify-content: center;
  }

  &__button:hover {
    opacity: 0.5;
  }

  &__pagination {
    cursor: pointer;
    display: flex;
  }

  &__dot {
    width: 10px;
    height: 10px;
    border: 0;
    padding: 0;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    transition: background-color .4s;
    margin-right: 10px;

    &_active {
      background-color: #070707;
    } 
    
    &:not(.slider__dot_active):hover,
    &:not(.slider__dot_active):focus {
      background-color: #828282;
    }
  }
}

.content {

  background: #F6F6F6;
  padding: 60px 431px 62px 431px;

  .about-me {
  
    font-family: 'Gilroy', 'sans-serif';
    font-weight: bold;
    font-size: 34px;
    line-height: 41px;
    text-align: center;
    color: #070707;
  
    &__text {
  
      font-family: 'Gilroy', 'sans-serif';
      max-width: 478px;
      font-size: 18px;
      line-height: 21px;
      padding: 15px;
      margin: 0;
      border: 2.5px solid #070707;
      margin: 30px 0 30px 0;
      position: relative;

    &:nth-child(even) {
      margin-right: -100px;

      &::before {
        content: "";
        position: absolute;
        width: 25px;
        height: 25px;
        bottom: -15px;
        right: 30px;
        transform: rotate(45deg);
        border-right: 2.5px solid #070707;
        border-bottom: 2.5px solid #070707;
        background-color: #F6F6F6;
      }
    }

    &:nth-child(odd) {
      margin-left: 100px;

        &::before {
          content: "";
          position: absolute;
          width: 25px;
          height: 25px;
          bottom: -15px;
          left: 30px;
          transform: rotate(45deg);
          border-right: 2.5px solid #070707;
          border-bottom: 2.5px solid #070707;
          background-color: #F6F6F6;
        }
      }
    }
  }
}

.skills {
  
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  

  &__title {

    font-family: 'Gilroy', 'sans-serif';
    font-weight: bold;
    font-size: 34px;
    line-height: 41px;
    text-align: center;
    color: #070707;
  }

  &__text {

    font-family: 'Gilroy', 'sans-serif';
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #070707;
  }

  &__icon-list {
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 50px 0 64px 0;
  }
}

.portfolio {
  background: #F6F6F6;
  padding: 60px 220px 60px 220px;

  &__title {

    font-family: 'Gilroy', 'sans-serif';
    font-weight: bold;
    font-size: 34px;
    line-height: 41px;
    text-align: center;
    color: #070707;
  }
}

.swiper-container {
  width: 1000px;
  height: 604px;
}

.swiper-slide {
  position: relative;

  &__img  {
    width: 1000px;
    height: 604px;
  }

  &__description {

    padding: 31px 300px;
    position: absolute;
    bottom: 0;
    background: rgba(7, 7, 7, 0.85);
  }

  &__text-dotted {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    margin: 0;
  }
    
  &__text {

    font-family: 'Gilroy', 'sans-serif';
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    margin: 16px 0 0 0;

    text-align: center;
    color: #FFFFFF;
    }

  &__line {

    font-family: 'Gilroy', 'sans-serif';
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    margin: 0;
    color: #FFFFFF;
    border-bottom: 1px dashed #FFFFFF;
  }

  &__line:hover {
    color: #828282;
  }
}


