<div class="container">
  <header class="header">
    <nav class="header__content">
      <a class="header__title" href="/pages/main/index.html">Home</a>
      <ul class="header__menu list-hidden-marker ">
        <li class="header__menu-item">
          <a class="header__menu-link" href="/pages/main/index.html">My blog</a>
        </li>
        <li class="header__menu-item">
          <a class="header__menu-link" href="/pages/main/index.html">Sign in </a>
        </li>
        <li class="header__menu-item">
          <a class="header__menu-link" href="/pages/main/index.html">Register</a>
        </li>
      </ul>
    </nav>
      <div class="header__line"></div>
  </header>
</div>