@import "./header/header";
@import "./footer/footer";
@import "./button/button";

body {
  font-family: 'Gilroy', 'sans-serif';
}

a { 
  font-family: 'Gilroy', 'sans-serif';
  text-decoration: none; 
} 

.hidden {
  
  display: none;
}

.opacity {

  opacity: 0;
}

.list-hidden-marker {

  list-style-type: none;
}

button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;

  background: transparent;

  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;

  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;

  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;
}


.container {

    max-width: 1440px;
    width: 100%;
    padding: 0 220px;
    margin: 0 auto;
    box-sizing: border-box;
}