<footer class="footer container">
  <div class="footer__title">Contacts</div>
  <div class="footer__text"> Want to know more or just chat? You are welcome!</div>
  @@include('button/index.html', {
    "class":"button_black",
    "text":" Send message"
  })
  <ul class="button_white-list list-hidden-marker">
    <li class="button_white-item">@@include('button/index.html', {
    "class":"button_white",
    "text":" Instagram"
    })
    </li>

    <li class="button_white-item">@@include('button/index.html', {
    "class":"button_white",
    "text":" Vk"
    })
    </li>

    <li class="button_white-item">@@include('button/index.html', {
    "class":"button_white",
    "text":" Telegram"
    })
    </li>

    <li class="button_white-item">@@include('button/index.html', {
    "class":"button_white",
    "text":" Mail"
    })
    </li>

    <li class="button_white-item">@@include('button/index.html', {
    "class":"button_white",
    "text":" GitHub"
    })
    </li>

    <li class="button_white-item">@@include('button/index.html', {
    "class":"button_white",
    "text":" Phone"
    })
    </li>
  </ul>
<div class="footer__info">
  <p class="footer__info-text">Design by <span class="footer__text-line">DL Academy</span></p>
  <p class="footer__info-text">Program code from Antonina</p>
</div>
</footer>